## WEATHER ANALYSIS - AUSTRALIA 2022

### INTRODUCTION

- The "Australia_weather_2022-01-01_to_2022-12-31.csv" dataset used in this analysis is an aggregated quantitive data, about the road accidents due to various weather condition in India during 2018.

- The data is a csv file. Analysis is done using pandas.

- The data is be saved and exported to power bi for dynamic visualisations & dashboards.

- 'matplotlib' and 'searbon' packages are used for basic statistics and deriving insights from the data.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import matplotlib
%matplotlib inline

In [5]:
na_vals = [' ', 'nan', 'Nan', '?', 'missing', 'Missing']      #the list containing all values deemed as null values

df = pd.read_csv(r'C:\Users\R5 EJ274t\Desktop\DATA-PROJECTS\DATA\Australia_weather_2022-01-01_to_2022-12-31.csv', na_values = na_vals)

In [6]:
df.head(5)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,australia,01-01-2022,30.0,11.7,21.3,29.0,11.7,21.1,11.4,57.1,...,31.7,10,NaN,2022-01-01T05:52:07,2022-01-01T20:21:29,0.94,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,"YSCB,95925099999,94925099999,94927099999,F0067..."
1,australia,02-01-2022,32.6,13.9,22.9,31.1,13.9,22.6,14.0,63.1,...,30.0,10,NaN,2022-01-02T05:52:52,2022-01-02T20:21:39,0.97,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"YSCB,95925099999,94925099999,94927099999,F0067..."
2,australia,03-01-2022,28.6,14.9,21.2,29.1,14.9,21.3,15.4,70.8,...,27.8,10,NaN,2022-01-03T05:53:40,2022-01-03T20:21:46,0.00,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"YSCB,95925099999,94925099999,94927099999,F0067..."
3,australia,04-01-2022,26.8,13.9,20.2,27.1,13.9,20.3,14.6,72.8,...,30.8,10,NaN,2022-01-04T05:54:28,2022-01-04T20:21:52,0.04,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"YSCB,95925099999,94925099999,94927099999,F0067..."
4,australia,05-01-2022,25.7,13.8,20.0,25.7,13.8,20.0,15.0,74.4,...,18.3,10,NaN,2022-01-05T05:55:17,2022-01-05T20:21:56,0.07,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"YSCB,95925099999,94925099999,94927099999,F0067..."

In [8]:
df.shape

(365, 33)